@import url(typography.css);



body {
    background-color: rgba(250, 243, 226, 0.11);
     display: block;
     border: solid black;
     /* margin: 0%; */
}

p{
    margin: auto;
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(104, 206, 157);
    color: white;
    text-align: center;
    margin: auto
}

h3 {
    color: rgb(147, 251, 1);
}

ul li{
  
}

.navbar {
    /* position: fixed; */
    left: 0;
    /* bottom: 0; */
    width: 100%;
    background-color: rgb(104, 206, 157);
    color: white;
    text-align: center;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(104, 206, 157, 0.6);
}

ul li {
    float: left;
}


.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* border: solid rgb(190, 32, 32) */
}


.navbar a:hover {
    background-color: rgb(4, 243, 123);
}

main {
    padding: 2rem;
    text-align: center;
}




.home__tittle {
    text-decoration: none;
    color: rgb(104 206 157 / 71%);

}