@import url(typography.css);





h1 {
    text-align: center;
    color: rgb(104 206 157 / 71%);
    font-size: 88%;
    background-color: rgba(66, 149, 165, 0.974);
    margin: auto;
    padding: 0.5rem;


}



.navbar ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(104, 206, 157);
}

ul li{
    float: left;
}


.navbar a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    /* border: solid rgb(190, 32, 32) */
}


.navbar a:hover {
    background-color: rgb(196, 187, 66);
}

main {
    padding: 2rem;
    text-align: center;
    /* background-image: url(assets/gettyimages-181828180_resized.jpg); */
    opacity: 0.8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

footer {
    background-color: rgb(104, 206, 157);
    padding: 1px;
    margin: auto;

}



h3 {
    color: rgb(147, 251, 1);
}

.home__tittle {
    text-decoration: none;
    color: rgb(104 206 157 / 71%);

}