@import url(typography.css);

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

main {
    padding: 2rem;
    text-align: center;
}

body {
    background-color: rgba(250, 243, 226, 0.11);
    display: block;
}

p {
    color: rgb(1, 13, 251);
    padding-bottom: 1.5em;
    max-width: 66ch;
    margin: auto;
}

h1 {
    text-align: center;
    color: rgb(104 206 157 / 71%);
    font-size: 88%;
    background-color: rgba(66, 149, 165, 0.974);
    margin: auto;
    padding: 0.5rem;


}

h3 {
    color: rgb(147, 251, 1);
}

footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(104, 206, 157);
    color: white;
    text-align: center;
    margin: auto
}

ul li {
    float: left;
}

blockquote{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    margin-bottom: 1.5em;
    padding: 1em;
    font-style: italic;
}

blockquote p:last-child{
    padding-bottom: 0;
}

blockquote p.author{
    text-align: right;
}

.navbar {
    left: 0;
    width: 100%;
    background-color: rgb(104, 206, 157);
    color: white;
    text-align: center;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(104, 206, 157, 0.6);
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(4, 243, 123);
}



.home__tittle {
    text-decoration: none;
    color: rgb(104 206 157 / 71%);

}