@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Indie+Flower&family=Kalam:wght@300;400;700&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Kalam", cursive;
    line-height: 1.4;
    text-align: center;
    margin: auto;

}

p {
    color: rgb(1, 13, 251);
    padding-bottom: 1.5em;
    max-width: 66ch;
}

h1 {
    text-align: center;
    color: rgb(104 206 157 / 71%);
    font-size: 88%;
    background-color: rgba(66, 149, 165, 0.974);
    margin: auto;
    padding: 0.5rem;


}

h3 {
    color: rgb(147, 251, 1);
}
